

<div th:fragment="groupCard(group, showActions)" class="group-card"
     th:classappend="${showActions} ? ' group-card--with-actions' : ''">
    <div class="group-card-actions" th:if="${showActions}">
        <a type="button"
                class="group-card-edit-btn"
                th:href="@{/groups/edit/{id}(id=*{id})}">
            Edit Group
        </a>
        <a type="button"
                class="group-card-delete-btn"
                onclick="event.stopPropagation();">
            Delete group
        </a>
    </div>
    <div class="group-title" th:text="*{title}"></div>
    <div class="d-flex align-items-center badges mb-2">
        <th:block>
            <span class="badge rounded-pill" th:if="${#strings.equals(group.gender,'MALE')}"><i class="fa-solid fa-mars me-1"></i> [[*{gender}]]</span>
            <span class="badge rounded-pill" th:if="${#strings.equals(group.gender,'FEMALE')}"><i class="fa-solid fa-venus me-1"></i> [[*{gender}]]</span>
            <span class="badge rounded-pill" th:if="${#strings.equals(group.gender,'BOTH')}"><i class="fa-solid fa-venus me-1"></i><i class="fa-solid fa-mars me-1"></i> [[*{gender}]]</span>
        </th:block>
        <span class="badge rounded-pill"><i class="fa-solid fa-location-dot me-1"></i> Map View</span>
    </div>
    <div class="meta-line"><i class="fa-solid fa-calendar-day"></i> [[*{schedule}]]</div>
    <th:block th:each="age : *{ages}">
        <div class="meta-line"><i class="fa-solid fa-user"></i> [[${age}]]</div>
    </th:block>

    <div class="meta-line"><i class="fa-solid fa-location-dot"></i> [[*{location}]]</div>
    <div class="meta-desc"
         th:attr="data-full-description=*{description}"
         th:text="*{truncatedDescription}"></div>
    <div class="mt-2 categories">
        <span class="category-name" th:each="category : *{categories}" th:text="${category}"></span>
    </div>
    <div class="fw-semibold">Meet the Leaders:</div>
    <div class="mt-2">
        <span class="leader-pill" th:each="leader : *{leaders}" th:object="${leader}">[[*{firstName}]] [[*{lastName}]]</span>
    </div>
</div>