<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<body>
<nav class="navbar navbar-expand-lg sticky-top sg-navbar" th:fragment="navbar(activePage)">
    <div class="container-fluid px-3 px-lg-4">
        <a class="navbar-brand" th:href="@{/directory}">Find Groups</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar" sec:authorize="isAuthenticated()">
            <ul class="navbar-nav ms-lg-auto gap-1 py-2 py-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/directory}"
                       th:classappend="${activePage == 'directory'} ? ' active' : ''">Directory</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('MANAGE_GROUPS')">
                    <a class="nav-link" th:href="@{/groups}"
                       th:classappend="${activePage == 'manageGroups'} ? ' active' : ''">Manage Groups</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('MANAGE_LEADERS')">
                    <a class="nav-link" th:href="@{/leaders}"
                       th:classappend="${activePage == 'manageLeaders'} ? ' active' : ''">Manage Leaders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profile}"
                       th:classappend="${activePage == 'profile'} ? ' active' : ''">Profile</a>
                </li>
            </ul>
        </div>

        <a class="nav-link ms-auto" th:href="@{/login}" sec:authorize="isAnonymous()">Sign In</a>
    </div>
</nav>
</body>
</html>


